.js{
  /*****************************  Header *****************************/
  &__header{background:$base-color1;
    &__inner{position:relative; width:100%; height:100%;
      &__bg{width:280px; height:550px; margin:0 auto; background:url(../image/contents_visual/main_visual.jpg) center no-repeat; background-size:550px; @include vendor(background-clip,text); -webkit-text-fill-color:rgba(255,255,255,0); font-size:10px; line-height:6px; text-align:justify; position: absolute; top: 50%; left: 50%;  transform: translate(-50%,-50%);}
      &__title{position:fixed; top:50px; left:100px; z-index:20;
        .js__header__inner__text{transition: all 0.5s ease-in-out; @include textShadow;
          &.hidden{
            .hide{opacity:0; max-width:0px;}
          }
          li{max-width:1em; font-family:$basic-bold; font-size:30px; color:#fff; display:inline-block; transition: all 0.4s ease-in-out; opacity:1;}
        }
      }
      &__menu{position:fixed; top:50px; right:100px; z-index:20; color:#fff;
      	.menu{
      		li{position:absolute; top:0; right:0px; z-index:1; transition: all 0.4s ease; width:70px; height:70px; border-radius:100%; text-indent:-9999px;}
      	}
      }
      .prologue{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; text-align:center; text-transform:uppercase; @include textShadow; font-family:$basic-bold;}
    }
  }
  /*****************************  //Header *****************************/
  /*****************************  Quick *****************************/
  &__quick{position:fixed; bottom:10px; left:10px; z-index:20; font-family:$basic-bold; font-size:30px;
    .menu{
      a{width:220px; font-size:30px; text-transform:uppercase; display:block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer;
        &.on{color:#fff; @include textShadow;}
      }
    }
  }
  /*****************************  //Quick ***************************/
  /*****************************  Container *****************************/
  &__container{background:url(../image/common/bg/container_bg.jpg) 0 0  no-repeat; background-size:100% 100%;
    &__contents{width:100%; display:none;
      h2{width:100%; @include textShadow; text-align:center; font-family:$basic-bold; padding-top:250px;}
      &__profile{position:relative; min-height:1200px; overflow:hidden;
        &--section{padding-left:37%; padding-top:50px;}
        &--image{
          .profile__bg__2{width:180px; height:83px; top:735px; left:185px;}
          .profile__bg__3{width:60px; height:60px; top:148px; left:22.5%;}
          .profile__bg__5{width:305px; height:184px; top:450px; right:100px;}
        }
      }
      &__project{position:relative; overflow:hidden;
        &--section{position:relative; margin-top:122px;
          .section__title{position:absolute; top:102px; left:50%; z-index:10; margin-left:-700px; transform:rotate(-90deg); font-size:43px; font-weight:900; color:#fff; @include textShadow;}
          .title--effect{
            div{width:100px; height:100px; background-color:#ff2782; border-radius:50%; position:absolute; top:110px; left:50%; z-index:9; margin-left:-645px; transition: all .45s ease-in-out; transform: translate3d(0px, 0px, 0px);
              &:nth-child(2){opacity:0.75;}
              &:nth-child(3){opacity:0.4;}
              &:nth-child(4){opacity:0.2;}
              &:nth-child(5){opacity:0.1;}
            }
          }
          .inner__section{position:relative;
            &.first__section{width:100%; min-height:1724px; margin:0 auto; background:url(../image/common/bg/port_section01.png) top center no-repeat;
              // &:after{content:''; clear:both; overflow:hidden;}
            }
            &.second__section{width:100%; min-height:3700px; margin:0 auto; background:url(../image/common/bg/port_section02.png) -120px 0px no-repeat; margin-top:283px;}
            &.third__section{width:100%; min-height:1724px; margin:0 auto; background:url(../image/common/bg/port_section01.png) -120px 0px no-repeat; margin-top:283px;}
            &__contents{position:static; letter-spacing:-5px; z-index:10; transform: translate3d(0px, 0px, 0px); transition:all 0.4s ease-in-out; opacity:0; display:flex; flex-direction:row; justify-content:center; align-items:center;
              &:nth-child(even){
                .inner__section__contents__visual__wrapper{transition: all 0.4s ease-in-out;
                  &:hover{transform: rotate(1deg); @include boxShadow; border:15px solid #fa7268; transition: all 0.4s ease-in-out;} 
                }
              }
              &:nth-child(odd){
                .inner__section__contents__visual__wrapper{transition: all 0.4s ease-in-out;
                  &:hover{transform: rotate(-1deg); @include boxShadow; border:15px solid #5f4b8b; transition: all 0.4s ease-in-out;}
                }  
              }
              &.active{transition:all 0.4s ease-in-out; transform-style:preserve-3d; opacity:1;}
              &__info{display:inline-block; vertical-align:top; letter-spacing:0px;}
              &__visual__wrapper{background:#fff; border:15px solid #f1f1f1;}
              &__visual{width:100%; height:100%; display:inline-block; vertical-align:top; letter-spacing:0px; @include boxShadow;}
              &.product--first{transform: translate3d(20px, 150px, 0px);
                &.active{transform: translate3d(50px, 150px, 0px);}
                .inner__section__contents__visual__wrapper{width:440px; height:640px; margin-right:-150px;}
                .inner__section__contents__info{min-width:620px; text-align:right; padding-right:40px;}
              }
              &.product--second{transform: translate3d(0px, 110px, 0px);
                 &.active{transform: translate3d(0px, 80px, 0px);}
                .inner__section__contents__visual__wrapper{width:860px; height:620px;}
                .inner__section__contents__info{padding-left:40px; vertical-align:middle;}
              }
              &.product--third{transform: translate3d(70px, 250px, 0px);
                &.active{transform: translate3d(100px, 250px, 0px);}
                .inner__section__contents__visual__wrapper{width:380px; height:480px; margin-left:-250px;}
                .inner__section__contents__info{padding-left:40px;}
              }
              &.product--fourth{transform: translate3d(0px, -50px, 0px);
                &.active{transform: translate3d(0px, -80px, 0px);}
                .inner__section__contents__visual__wrapper{width:630px; height:700px; margin-right:200px;}
                .inner__section__contents__info{padding-right:40px;}
              }
              &.product--fifth{transform: translate3d(0px, 30px, 0px);
                &.active{transform: translate3d(0px, 50px, 0px);}
                .inner__section__contents__visual__wrapper{width:760px; height:540px; margin-right:-200px;}
                .inner__section__contents__info{padding-right:40px;}
              }
              &.product--sixth{transform: translate3d(20px, 0px, 0px);
                &.active{transform: translate3d(-10px, 00px, 0px);}
                .inner__section__contents__visual__wrapper{width:900px; height:600px;}
                .inner__section__contents__visual{background-size:100%;}
                .inner__section__contents__info{padding-left:40px;}
              }
              &.product--seventh{transform: translate3d(300px, 40px, 0px); flex-direction:column;
                &.active{transform: translate3d(270px, 40px, 0px);}
                .inner__section__contents__visual__wrapper{width:550px; height:600px; display:block;}
                .inner__section__contents__info{display:block; padding-top:40px;}
              }
              &.product--eighth{transform: translate3d(-370px, 50px, 0px); flex-direction:column;
                &.active{transform: translate3d(-370px, 80px, 0px);}
                .inner__section__contents__visual__wrapper{width:650px; height:650px; display:block;}
                .inner__section__contents__visual{background-size:100%;}
                .inner__section__contents__info{display:block; padding-top:40px;}
              }
            }
          }
        }
        .port__bg__1{width:216px; height:217px; top:120px; left:50%; margin-left:-420px; z-index:1;}
        .port__bg__2{width:261px; height:149px; top:706px; right:-50px; z-index:1;}
        .port__bg__3{width:744px; height:698px; top:1015px; left:-240px; z-index:1;}
        .port__bg__4{width:1197px; height:1197px; top:600px; right:-400px; z-index:1;}
        .port__bg__5{width:1219px; height:1219px; top:3000px; left:-440px; z-index:1;}
      }
       &__photo{width:100%;
         &__contents{width:100%; min-height:1500px; display:flex; align-items:center; flex-direction:column;
           .photo__contents{width:300px; @include vertical; cursor:pointer; margin:0px 40px; opacity:0; -webkit-transition: .4s ease-in-out; transform: translate3d(0px, 0px, 0px);
              &.active{opacity:1; transition: all 0.4s ease-in-out; transform-style: preserve-3d;
                &:nth-child(even){transform: translate3d(15px, -30px, 0px);}
                &:nth-child(odd){transform: translate3d(-15px, 30px, 0px);}
              }
              &:nth-child(even){margin-top:300px;}
              &:nth-child(odd){margin-bottom:150px;}
              .contents__text__widget{margin-top:20px;
                dl{text-align:center;
                  dt{color:#005ab4; @include MobiletextShadow;}
                  dd{color:#000; font-weight:bold;
                    a{color:#000; font-weight:bold;}
                  }
                }
             }
           }
         }
       }
    }
  }
  /***************************** // Container *****************************/
}