/* intro */
.js{
  /*****************************  Header *****************************/
  &__header{background:$base-color1;
    &__inner{position:relative; width:100%; height:100%; /*background:url(../image/contents_visual/main_visual.png) center no-repeat; background-size:500px;*/
      &--logo{position:absolute; top:50px; left:260px; z-index:1; width:100px; height:50px; background:url(../image/common/logo.png) 0 0 no-repeat;}
      &--menu{position:absolute; top:65px; right:200px; z-index:1 ;width:122px; height:26px; background:url(../image/common/menu.png) 0 0 no-repeat;}
      .prologue{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; text-align:center; text-transform:uppercase; @include textShadow; font-family:$basic-bold;}
    }
  }
  /*****************************  //Header *****************************/
  /*****************************  Container *****************************/
  &__container{display:none; background-image: linear-gradient(167deg, #c90000, #950089 21%, #3b00ff 42%, #00a7ff 63%, #63f2cb 82%, #d8ff00); height:8000px;
    &__contents{width:100%;
      &__profile{position:relative; padding-top:352px; min-height:1200px; overflow:hidden;
        h2{padding-left:25%; @include textShadow; font-family:$basic-bold;}
        &--section{padding-left:37%; padding-top:50px;}
        &--image{
          .profile__bg__1{width:604px; height:604px; top:300px; left:-150px;}
          .profile__bg__2{width:180px; height:83px; top:735px; left:185px;}
          .profile__bg__3{width:60px; height:60px; top:298px; left:22.5%;}
          .profile__bg__4{width:768px; height:768px; top:510px; right:0px;}
          .profile__bg__5{width:305px; height:184px; top:450px; right:-30px;}
          .profile__bg__6{width:93px; height:93px; bottom:0px; right:-20px;}
        } 
      }
      &__project{position:relative; padding-top:450px; overflow:hidden;
        h2{width:100%; @include textShadow; text-align:center; font-family:$basic-bold;}
        &--section{position:relative; margin-top:122px;
          .section__title{position:absolute; top:102px; left:50%; margin-left:-700px; transform:rotate(-90deg); font-size:43px; font-weight:900; color:#fff; @include textShadow;}
          .inner__section{position:relative;
            &.first__section{width:1076px; min-height:2500px; margin:0 auto; background:url(../image/common/bg/port_section01.png) 0 0 no-repeat;}
            &__contents{position:absolute; letter-spacing:-5px; z-index:10;
              &__info{display:inline-block; vertical-align:top; letter-spacing:0px;}
              &__visual{border:15px solid #fff; display:inline-block; vertical-align:top; letter-spacing:0px; @include boxShadow;}
              &.product--first{top:168px; right:-80px;
                .inner__section__contents__visual{width:430px; height:600px;}
                .inner__section__contents__info{padding-right:40px;}
              }
              &.product--second{width:1500px; top:650px; left:-234px;
                .inner__section__contents__visual{width:920px; height:680px; vertical-align:middle;}
                .inner__section__contents__info{vertical-align:middle; padding-left:40px;}
              }
              &.product--third{top:1460px; left:-100px;
                .inner__section__contents__visual{width:440px; height:540px;}
                .inner__section__contents__info{padding-left:40px;}
              }
            }
          }
        }
        &--image{
          .port__bg__1{width:216px; height:217px; top:320px; left:50%; margin-left:-420px;}
          .port__bg__2{width:261px; height:149px; top:706px; right:-50px;}
          .port__bg__3{width:744px; height:698px; top:1015px; left:-240px;}
          .port__bg__4{width:1197px; height:1197px; top:600px; right:-400px;}
        }
      }
       &__photo{width:100%; display:table; text-align:center;
         .photo__contents{@include vertical; cursor:pointer; width: 200px; height: 200px;  border-radius:4px; background-size:200px 200px; margin-right:40px; transition: all .5s; animation: item-in .5s ease-in-out; animation-delay: 0.3s; border-radius:50%;
           &:nth-child(1){animation-delay: .5s;}
           &:nth-child(2){animation-delay: .6s;}
           &:nth-child(3){animation-delay: .7s;}
           &:nth-child(4){animation-delay: .8s; margin-right:0px;}
           &:hover{box-shadow: 0 30px 80px 0 rgba( 97, 45, 45, 0.45); transform: translateY(-20px);}
         }
       }
    }
  }
  /***************************** // Container *****************************/
}