<div class="js__header__inner">
	<div class="js__header__inner__bg"></div>
	<div class="js__header__inner__title">
		<ul class="js__header__inner__text hidden">
			<li>L</li>
			<li class="hide">i</li>
			<li class="hide">m</li>
			<li>J</li>
			<li class="hide">u</li>
			<li class="hide">n</li>
			<li class="hide">e</li>
			<li>S</li>
			<li class="hide">u</li>
		</ul>
	</div>
	<div class="js__header__inner__menu">
		<nav class="menu">
			<ul>
				<li class="menu--home">home</li>
				<li class="menu--profile">profile</li>
				<li class="menu--pc">pc</li>
				<li class="menu-mobile">mobile</li>
			</ul>
		</nav>
	</div>
	<div class="prologue title__widget">lim, june su portfolio</div>
</div>