@charset 'utf-8';
$basic:'Montserrat', sans-serif;
$basic-bold:'MontserratBold', sans-serif;

/*bg*/
$base-color1:#000;
/* font color */
$fColor-1:#fff;
$fColor-2:#000;
/* s1 = small1 ~ */
$fSize-s1:12px;
$fSize-s2:14px;
/* positioning */
$re:relative;
$ab:absolute;
$fx:fixed;
/* body bg class */
$color-1:#ffd1dc;
$color-2:#1E1F29;
$color-3:#077584;
$color-4:#E44F26;

/* body bg */
body{transition: all 0.7s ease-in-out;}

@mixin boxSizing() {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}

@mixin vertical() {
	vertical-align:middle;
	display:inline-block;
}

@mixin textShadow(){
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@mixin boxShadow(){
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.3);
}

/* radius photo image */
@for $visual from 1 through 10 {
	.visual_#{$visual} {background:url('../image/contents_visual/mini_visual_#{$visual}.jpg') center center no-repeat;}
}

/* profile image bg & bullet image */
@for $profile from 1 through 6 {
	.profile__bg__#{$profile} {background:url('../image/common/bg/profile_bg_#{$profile}.png') 0 0 no-repeat; position:absolute;}
}

/* project image bg */
@for $project from 1 through 4 {
	.port__bg__#{$project} {background:url('../image/common/bg/port_bg_#{$project}.png') 0 0 no-repeat; position:absolute;}
}

/* contents image */
@for $contents from 1 through 4 {
	.contents__visual__#{$contents} {background:url('../image/contents_visual/contents_visual_#{$contents}.jpg') center no-repeat; background-size:cover;}
}


/* body bg class */
.bg1{background:$color-1;}
.bg2{background:$color-2;}
.bg3{background:$color-3;}
.bg4{background:$color-4;}

/* title */
.title__widget{font-size:110px; font-weight:900; color:#fff;}

/* contents text */
.contents__text__widget{
	h3{font-size:20px; line-height:40px; font-weight:bold; color:#ffac27; @include textShadow;}
	ul{
		li{font-size:20px; color:#fff; line-height:34px; font-family:'';
			a{color:#fff;}
		}
	}
}
