@charset 'utf-8';
$basic:'Montserrat', sans-serif;
$basic-bold:'MontserratBold', sans-serif;

/*bg*/
$base-color1:#000;
/* font color */
$fColor-1:#fff;
$fColor-2:#000;
/* s1 = small1 ~ */
$fSize-s1:12px;
$fSize-s2:14px;
/* positioning */
$re:relative;
$ab:absolute;
$fx:fixed;
/* body bg class */
$color-1:#c90000;
$color-2:#950089;
$color-3:#3b00ff;
$color-4:#00a7ff;

/* body bg */
body{transition: all 0.45s ease-in-out; background:#000;}

@mixin boxSizing() {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}

@mixin vertical() {
	vertical-align:middle;
	display:inline-block;
}

@mixin textShadow(){
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

@mixin boxShadow(){
	box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.3);
}

/* radius photo image */
@for $visual from 1 through 10 {
	.visual_#{$visual} {background:url('../image/contents_visual/mini_visual_#{$visual}.jpg') center center no-repeat;}
}

/* profile image bg & bullet image */
@for $profile from 1 through 6 {
	.profile__bg__#{$profile} {background:url('../image/common/bg/profile_bg_#{$profile}.png') 0 0 no-repeat; position:absolute;}
}

/* project image bg */
@for $project from 1 through 5 {
	.port__bg__#{$project} {background:url('../image/common/bg/port_bg_#{$project}.png') 0 0 no-repeat; position:absolute;}
}

/* contents image */
@for $contents from 1 through 4 {
	.contents__visual__#{$contents} {background:url('../image/contents_visual/contents_visual_#{$contents}.jpg') center no-repeat; background-size:cover;}
}

/* title */
.title__widget{font-size:110px; font-weight:900; color:#fff;}

/* contents text */
.contents__text__widget{
	h3{font-size:22px; line-height:40px; font-weight:bold; color:#ffac27; @include textShadow;}
	ul{
		li{font-size:18px; color:#fff; line-height:34px; font-family:''; @include textShadow;
			a{color:#fff;}
		}
	}
}

/* bx slider */
.bx-wrapper{width:100%; max-width:100%!important;}

/* main visual fadein */
.prologue{animation: prologue 1s; -webkit-animation: prologue 1s;}
.js__header__inner__title{animation: title 1s; -webkit-animation: title 1s;}
.js__header__inner--menu{animation: menu 1s; -webkit-animation: menu 1s;}
.js__header__inner__bg{animation: visual 1s; -webkit-animation: visual 1s;}

@-webkit-keyframes prologue {
	from { opacity:0; top:55%; }
	to { opacity:1; top: 50%; }
}

@-webkit-keyframes title {
	from { opacity:0; left:200px; }
	to { opacity:1; left:260px; }
}

@-webkit-keyframes menu {
	from { opacity:0; right:160px; }
	to { opacity:1; right: 200px; }
}

@-webkit-keyframes visual {
	from { opacity:0; top:47%; }
	to { opacity:1; top: 50%; }
}