@charset 'utf-8';
$basic:'Montserrat', sans-serif;
$basic-bold:'MontserratBold', sans-serif;

/*bg*/
$base-color1:#000;
/* font color */
$fColor-1:#fff;
$fColor-2:#000;
/* s1 = small1 ~ */
$fSize-s1:12px;
$fSize-s2:14px;
/* positioning */
$re:relative;
$ab:absolute;
$fx:fixed;
/* body bg class */
$color-1:#c90000;
$color-2:#950089;
$color-3:#3b00ff;
$color-4:#00a7ff;

/* body bg */
body{transition: all 0.45s ease-in-out; background:#000; overflow-x:hidden;}

@mixin boxSizing() {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}

@mixin vertical() {
	vertical-align:middle;
	display:inline-block;
}

/* contents text shadow */
@mixin textShadow(){
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* contents mobile text shadow */
@mixin MobiletextShadow(){
	text-shadow: 5px 5px 10px rgba(2, 75, 147, 0.3);
}

/* contents box shadow */
@mixin boxShadow(){
	box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.3);
}

/* vender */
@mixin vendor($name, $value) {
  @each $i in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$i}#{$name}: #{$value};
  }
}

/* radius photo image */
@for $visual from 1 through 10 {
	.visual_#{$visual} {width:200px; height:200px; margin:0 auto; border-radius:50%; transition: all .4s; background:#fff url('../image/contents_visual/mini_visual_#{$visual}.jpg') center center no-repeat; display:block;
		&:hover{box-shadow: 0 30px 80px 0 rgba( 97, 45, 45, 0.45); transform: translateY(-20px); transition: all .4s;}
	}
}

/* profile image bg & bullet image */
@for $profile from 1 through 6 {
	.profile__bg__#{$profile} {background:url('../image/common/bg/profile_bg_#{$profile}.png') 0 0 no-repeat; position:absolute;}
}

/* project image bg */
@for $project from 1 through 5 {
	.port__bg__#{$project} {background:url('../image/common/bg/port_bg_#{$project}.png') 0 0 no-repeat; position:absolute;}
}

/* contents image */
@for $contents from 1 through 20 {
	.contents__visual__#{$contents} {background:#fff url('../image/contents_visual/contents_visual_#{$contents}.jpg') center no-repeat;}
}

/* title */
.title__widget{font-size:110px; font-weight:900; color:#fff;}

/* contents text */
.contents__text__widget{
	dl{
		dt{font-size:22px; line-height:40px; font-weight:bold; color:#ffac27; @include textShadow;}
		dd{font-size:18px; color:#fff; line-height:34px; font-family:''; @include textShadow; font-weight:bold;
			a{color:#fff;}
		}
	}
}

/* main visual fadein */
.prologue{animation: prologue 1.5s; -webkit-animation: prologue 1.5s;}
.js__header--title{animation: title 1.5s; -webkit-animation: title 1.5s;}
.js__header--menu{animation: menu 1.5s; -webkit-animation: menu 1.5s;}
.home--visual{animation: visual 1.5s; -webkit-animation: visual 1.5s;}

@-webkit-keyframes prologue {
	from { opacity:0; top:55%; }
	to { opacity:1; top:50%; }
}

@-webkit-keyframes title {
	from { opacity:0; left:50px; }
	to { opacity:1; left:100px; }
}

@-webkit-keyframes menu {
	from { opacity:0; right:50px; }
	to { opacity:1; right: 100px; }
}

@-webkit-keyframes visual {
	from { opacity:0; top:47%; }
	to { opacity:1; top: 50%; }
}

// header section image
.section1{
	.menu--home{background:#fff url('../image/common/home.png') center no-repeat; display:block; @include boxShadow;}
}
.section2{
	.menu--profile{background:#fff url('../image/common/profile.png') center no-repeat; display:block; @include boxShadow;}
}
.section3{
	.menu--pc{background:#fff url('../image/common/pc.png') center no-repeat; display:block; @include boxShadow;}
}
.section4{
	.menu-mobile{background:#fff url('../image/common/mobile.png') center no-repeat; display:block; @include boxShadow;}
}

// portfolio text effect
.section3{
	.title--effect{
		&.active{
			div{
				&:nth-child(1){transform: translate3d(0px, 0px, 0px);}
				&:nth-child(2){transform: translate3d(0px, 50px, 0px);}
				&:nth-child(3){transform: translate3d(0px, 100px, 0px);}
				&:nth-child(4){transform: translate3d(0px, 150px, 0px);}
				&:nth-child(5){transform: translate3d(0px, 200px, 0px);}
			}
		}
	}
}